.app-options {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  background: rgba(255, 255, 255, 0.15);
  padding: 2rem 1.5rem;
  user-select: none;
  > span {
    flex: 0 0 auto;
    color: rgba(255,255,255,0.5);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1;
    white-space: nowrap;
    text-transform: uppercase;
    text-shadow: 0 0 3px rgba(0,0,0,0);
    position: relative;
    cursor: pointer;
    transition: 500ms ease;
    > i {
      color: rgba(255,255,255,0.5);
      @include dir-swap((
        margin-right: 0.75rem
      ));
      transform: scale(1.5);
      transition: 500ms cubic-bezier(0.65, -0.45, 0.35, 1.45);
      @include viewport(348px) {
        display: none;
      }
    }
    .context {
      display: flex;
      flex-flow: column nowrap;
      min-width: 10rem;
      max-width: 12rem;
      html:not([lang*="en"]) & {
        max-width: 15rem;
      }
      background: rgba(255,255,255,0.75);
      @extend %backdrop;
      border-radius: $border-radius;
      overflow: hidden;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      @include dir-swap((
        left: -0.25rem
      ));
      bottom: 2rem;
      z-index: 1;
      transition: 300ms 700ms cubic-bezier(0.65, -0.45, 0.35, 1.45);
      &.suggested {
        visibility: visible;
        opacity: 1;
      }
      body.mdm & {
        filter: invert(1);
      }
      span {
        flex: 1 0 100%;
        color: rgba(0,0,0,0.75);
        font-weight: 500;
        white-space: nowrap;
        text-transform: none;
        text-shadow: none;
        padding: 0.75rem;
        border-bottom: 1px solid rgba(0,0,0,0.25);
        transition: 300ms ease;
        &:last-child {
          border: none;
        }
        &:hover {
          background: rgba(0,0,0,0.15);
          color: rgba(0,0,0,1);
        }
        i {
          color: inherit;
          transform: scale(1.25);
          @include dir-swap((
            margin-right: 0.75rem
          ));
        }
      }
    }
    &:last-child {
      .context {
        @include dir-swap((
          left: auto,
          right: -0.25rem
        ), null, false);
      }
    }
    &:hover, &:active, &:focus {
      color: rgba(255,255,255,1);
      transition: 500ms 250ms ease;
      text-shadow: 0 0 3px rgba(0,0,0,0.45);
      > i {
        color: rgba(255,255,255,1);
        transform: scale(1.75);
      }
      div.context {
        visibility: visible;
        opacity: 1;
      }
    }
    body.tao & {
      &:nth-child(3),
      &:nth-child(4) {
        display: none;
      }
      &:nth-child(2) {
        div.context {
          @include dir-swap((
            left: auto,
            right: -0.25rem
          ), null, false);
        }
      }
    }
  }
  body.mam & {
    span {
      visibility: hidden;
      pointer-events: none;
    }
  }
  &[data-options="false"] {
    > span {
      color: rgba(255,255,255,0.25);
      text-decoration: line-through;
      cursor: default;
      i, div.context {
        display: none;
      }
    }
  }
}