.snippet {
  display: block;
  background: rgba(0,0,0,0.25);
  color: rgba(255,255,255,0.75);
  padding: 1rem;
  border-radius: $border-radius;
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}