.todos-container {
  background: rgba(255,255,255,0.075);
  height: 47.375rem;
  border-radius: $border-radius;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: stretch;
  user-select: none;
  @include viewport(lg, max) {
    height: calc(47.375rem - 9rem);
  }
  @at-root #todos-header {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background: rgba(255,255,255,0.2);
    padding: 2rem 1.5rem;
    text-align: center;
    h2 {
      text-shadow: 0 0 3px rgba(0,0,0,0.25);
    }
    p {
      color: rgba(255,255,255,0.5);
      font-size: 1.125rem;
      margin: 1rem 0;
      b {
        display: inline-block;
        min-width: 3rem;
        color: rgba(255,255,255,0.75);
        &::before {
          content: '\201c';
          @include dir-swap((
            padding-right: 0.165rem
            ), (
              content: '\201d'
          ));
        }
        &::after {
          content: '\201d';
          @include dir-swap((
            padding-left: 0.165rem
            ), (
              content: '\201c'
          ));
        }
      }
    }
    form {
      display: flex;
      width: 100%;
      max-width: 40rem;
      font-size: 0;
      margin: 0 auto;
      border-radius: $border-radius;
      overflow: hidden;
      input {
        display: inline-block;
        height: 3rem;
        font-size: 1rem;
        padding: 0.875rem 1.125rem;
        border: 0;
        margin: 0;
        outline: 0;
      }
      input[type="search"], 
      input[type="text"] {
        flex: 1 1 auto;
        width: 100%;
        background: rgba(0,0,0,0.25);
        color: rgba(255,255,255,1);
        transition: 500ms ease;
        &:focus {
          background: rgba(0,0,0,0.45);
        }
        &::placeholder {
          color: rgba(255,255,255,0.35);
        }
        &::-webkit-search-cancel-button {
          -webkit-appearance: none;
          width: 0;
          height: 0;
          border: 0.5rem solid transparent;
          border-right-color: rgba(255,255,255,0.55);
          border-left-width: 0;
          @include dir-swap((
            right: -0.5rem
          ), (
            transform: rotate(180deg)
          ));
          position: relative;
          cursor: pointer;
        }
      }
      input[type="button"] {
        flex: 0 0 auto;
        width: auto;
        min-width: 6rem;
        background: rgba(255,255,255,0.55);
        color: rgba(0,0,0,0.45);
        font-weight: 800;
        text-transform: uppercase;
        cursor: pointer;
        transition: 500ms ease;
        &:hover {
          background: rgba(255,255,255,0.85);
        }
      }
    }
  }
  @at-root #todos-container {
    flex: 0 0 28.5rem;
    margin: 0;
    padding: 0 0.5rem;
    overflow-y: scroll;
    box-shadow: inset 0 0 10px 5px $inner-shadow;
    position: relative;
    @extend %pattern;
    @extend %no-scrollbar;
    @include pseudo-note('after', '');
    &::after {
      @include lang-content($todos-placeholder)
    }
    @include viewport(lg, max) {
      flex-basis: calc(28.5rem - 9rem);
      &::after {
        @include lang-content($todos-alternative)
      }
    }
    li {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      width: auto;
      background: rgba(255,255,255,1);
      list-style-type: none;
      font-size: 1rem;
      padding: 1rem;
      margin: 0.5rem 0;
      border-radius: $border-radius;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      transition: all 500ms ease;
      animation: entrance 500ms ease 1;
      span {
        flex: 1 1 auto;
        color: rgba(0,0,0,0.75);
        font-weight: 500;
        word-break: break-word;
        word-wrap: break-word;
        transition: 500ms ease;
      }
      time {
        flex: 0 0 auto;
        color: rgba(0,0,0,0.45);
        font-weight: 800;
        letter-spacing: 1px;
        padding: 0 0.5rem;
        &::before {
          content: 'Done';
          color: rgba(0,0,0,0.75);
          font-size: 0;
          text-transform: uppercase;
          visibility: hidden;
          opacity: 0;
          transition: opacity 500ms ease;
        }
      }
      i {
        flex: 0 1 1rem;
        display: inline-block;
        height: 1.125rem;
        color: rgba(0,0,0,0.75);
        font: $font-awesome;
        @include dir-swap((
          text-align: right
        ));
        transition: 500ms cubic-bezier(0.65, -0.45, 0.35, 1.45);
        &::before {
          content: '\f00d';
        }
        &:hover {
          color: orangered;
          transform: scale(1.35);
        }
      }
      &:hover {
        background: rgba(255,255,255,0.75);
      }
      &[data-done="true"] {
        background: rgba(255,255,255,1);
        span {
          color: rgba(0,0,0,0.45);
          text-decoration: line-through wavy orangered;
        }
        time {
          color: transparent;
          font-size: 0;
          letter-spacing: 0;
          &::before {
            content: 'Done';
            font-size: 0.875rem;
            font-size: 1rem;
            line-height: 1;
            letter-spacing: 1px;
            visibility: visible;
            opacity: 1;
          }
        }
        i {
          z-index: 2;
        }
        &::after {
          content: '';
          width: 100%;
          height: 100%;
          background-image: $pattern;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1;
        }
      }
    }
  }
}