h1 {
  color: rgba(0,0,0,0.65);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
}
h2 {
  color: rgba(255,255,255,1);
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  margin: 0;
}
// h3 {}
h4 {
  color: rgba(0,0,0,0.35);
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
}